
.authLayout,
.mainLayout {
    background-image: url("../../assets/images/header-bg.png");
    background-size: cover;
    max-height: 2vh;
}

.btn-primary {
    height: max-content;
    padding: 14px 26px;
    border-radius: 25px;
}

.btn-secondary {
    height: max-content;
    padding: 14px 26px;
    border-radius: 25px;
}