.layout-image {
    background: url("../../assets/images/header-bg.png") top center no-repeat;
    background-position: 0px 0px;
}

.authLayout-missing-screen,
.mainLayout-missing-screen {
    background-size: 100% 40%;
}

.authLayout-my-listing,
.mainLayout-my-listing {
    background-size: 100% 15%;
}

.authLayout-main-screen{
    background-size: 100% 25%;
}

.authLayout-missing-items-half-page{
    background-size: 100% 30%;
}

.authLayout-no-missing-items{
    background-size: 100% 35%;
}

.authLayout-missing-items{
    background-size: 100% 40%;
}
.authLayout-missing-items-full-page{
    background-size: 100% 30%;
}

.authLayout-default,
.mainLayout-default {
    background-size: 100% 50%;
}

.btn-primary {
    height: max-content;
    padding: 14px 26px;
    border-radius: 25px;
}

.btn-secondary {
    height: max-content;
    padding: 14px 26px;
    border-radius: 25px;
}