.no-scrollbar::-webkit-scrollbar {
    display: none;
}


@keyframes slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.anim{
    animation: 20s slider infinite linear;
}
